In [1]:
import numpy as np

In [2]:
a=np.array([1,3,4,5,7])

In [3]:
a+4

array([ 5,  7,  8,  9, 11])

In [4]:
np.std(a)

np.float64(2.0)

In [5]:
b=a+4

In [6]:
b=np.mean(b)

In [7]:
b

np.float64(8.0)

In [ ]:
#background
#foreground

In [8]:
import pymysql

In [9]:
conn=pymysql.connect(host='127.0.0.1',user='play',passwd='123',database='sk17',port=3306)

In [13]:
cur=conn.cursor()

In [14]:
cur.execute("show tables")

1

In [15]:
cur.fetchall()

(('stock_day',),)

In [16]:
sql="INSERT INTO stock_day VALUES (%s, %s, %s, %s, %s, %s, %s)"

In [18]:
cur.execute(sql,['2025-05-29',123,123,123,123,123,123])

1

In [19]:
conn.commit()

In [ ]:
# 테이블 만들고
# 주식->차트->
# 날짜 형태로 바꾸고
# ㅁㅏ지막 float
# pk에서 auto~머시기는 빼도됨
# 테이블구조 이해 및 생성


# primarykey(st_code,st_date)


# ~CHAR:문자

In [24]:
import requests

data=eval(requests.get("https://m.stock.naver.com/front-api/external/chart/domestic/info?symbol=403490&requestType=1&startTime=20230406&endTime=20231220&timeframe=day").text.strip())

In [29]:
data

[['날짜', '시가', '고가', '저가', '종가', '거래량', '외국인소진율'],
 ['20230919', 3060, 3350, 2740, 3100, 21656452, 0.09],
 ['20230920', 3325, 4030, 2995, 3550, 90894804, 0.1],
 ['20230921', 3610, 3865, 3315, 3330, 47821214, 0.12],
 ['20230922', 3165, 3450, 2940, 3115, 16399193, 0.17],
 ['20230925', 3040, 3430, 2850, 3000, 33140757, 0.33],
 ['20230926', 3130, 3425, 2975, 3115, 31516300, 0.06],
 ['20230927', 3095, 3260, 2995, 3115, 18407398, 0.03],
 ['20231004', 3075, 3135, 2800, 2800, 6563986, 0.07],
 ['20231005', 2835, 2920, 2555, 2670, 12576392, 0.1],
 ['20231006', 2625, 2780, 2615, 2630, 3824029, 0.71],
 ['20231010', 2640, 2665, 2200, 2200, 6186064, 0.31],
 ['20231011', 2240, 2315, 2220, 2250, 3619444, 0.87],
 ['20231012', 2240, 2575, 2225, 2300, 8876875, 0.53],
 ['20231013', 2285, 2535, 2250, 2305, 8636798, 0.15],
 ['20231016', 2290, 2325, 2155, 2165, 2412739, 0.1],
 ['20231017', 2200, 2235, 2095, 2110, 2319747, 0.24],
 ['20231018', 2060, 2115, 1969, 1976, 2810263, 0.32],
 ['20231019', 1930, 1930, 1835, 1910, 1863888, 0.48],
 ['20231020', 1938, 1947, 1775, 1785, 2046328, 0.05],
 ['20231023', 1785, 2320, 1785, 2320, 22412989, 0.54],
 ['20231024', 2610, 2680, 2280, 2390, 36165786, 0.56],
 ['20231025', 2575, 3105, 2535, 3105, 35934724, 0.41],
 ['20231026', 3135, 3240, 2645, 2730, 34767794, 1.16],
 ['20231027', 2670, 2805, 2480, 2480, 10286094, 1.65],
 ['20231030', 2530, 2630, 2380, 2440, 9757316, 1.03],
 ['20231031', 2455, 2710, 2275, 2430, 10726855, 0.19],
 ['20231101', 2405, 2685, 2385, 2585, 13082135, 1.43],
 ['20231102', 2580, 2660, 2495, 2610, 5177243, 2.19],
 ['20231103', 2655, 2665, 2430, 2465, 3699881, 1.53],
 ['20231106', 2475, 2475, 2330, 2365, 3701114, 2.22],
 ['20231107', 2365, 2365, 2135, 2200, 3332295, 0.83],
 ['20231108', 2200, 2230, 2105, 2110, 1602845, 0.7],
 ['20231109', 2075, 2275, 2070, 2090, 4485577, 0.14],
 ['20231110', 2120, 2215, 2045, 2140, 3698656, 0.04],
 ['20231113', 2160, 2280, 2090, 2095, 2639495, 0.05],
 ['20231114', 2060, 2165, 2060, 2110, 1720828, 0.06],
 ['20231115', 2125, 2160, 2105, 2115, 1077399, 0.1],
 ['20231116', 2115, 2665, 2110, 2490, 30886587, 0.04],
 ['20231117', 2450, 2495, 2335, 2420, 5682124, 0.15],
 ['20231120', 2395, 2885, 2350, 2610, 37695717, 0.15],
 ['20231121', 2570, 3130, 2560, 2735, 60081360, 0.12],
 ['20231122', 2885, 3145, 2765, 2795, 43912304, 0.08],
 ['20231123', 2765, 3015, 2705, 2880, 27550430, 0.03],
 ['20231124', 2830, 3000, 2790, 2820, 9451430, 0.09],
 ['20231127', 2860, 3330, 2855, 3270, 47462262, 0.37],
 ['20231128', 3475, 3545, 3020, 3050, 17462554, 0.22],
 ['20231129', 3300, 3350, 2900, 3040, 12492853, 0.11],
 ['20231130', 2995, 3055, 2870, 2950, 4024060, 0.44],
 ['20231201', 2930, 2980, 2800, 2810, 2943355, 0.48],
 ['20231204', 2840, 2885, 2780, 2855, 2201906, 0.54],
 ['20231205', 2850, 3065, 2815, 2950, 6738168, 1.02],
 ['20231206', 2980, 2995, 2800, 2895, 2516377, 0.7],
 ['20231207', 2860, 2880, 2785, 2820, 1821231, 0.25],
 ['20231208', 2890, 3140, 2860, 3030, 9877684, 0.25],
 ['20231211', 3000, 3060, 2960, 2990, 2764613, 0.8],
 ['20231212', 2990, 3020, 2885, 2905, 1779218, 0.49],
 ['20231213', 2890, 2890, 2750, 2750, 2053838, 0.17],
 ['20231214', 2775, 2805, 2635, 2650, 1637327, 0.16],
 ['20231215', 2650, 2800, 2590, 2770, 2105346, 0.45],
 ['20231218', 2760, 2760, 2655, 2690, 1106449, 0.55],
 ['20231219', 2725, 2740, 2660, 2700, 882420, 0.53],
 ['20231220', 2705, 2745, 2660, 2700, 1058051, 0.43]]

In [ ]:

import pymysql
import requests

conn=pymysql.connect(host='127.0.0.1',user='play',passwd='123',database='sk17',port=3306)
cur=conn.cursor()
sql="INSERT INTO naver_day_stock VALUES (%s, %s, %s, %s, %s, %s, %s)"
cur.execute(sql,['2025-05-29',123,123,123,123,123,123])
conn.commit()


data=eval(requests.get("https://m.stock.naver.com/front-api/external/chart/domestic/info?symbol={st_code}&requestType=1&startTime={st_open}&endTime={st_close}&timeframe=day").text.strip())