In [ ]:
pip install ipython-sql
pip install prettytable==3.6.0

In [15]:
%%timeit
sum([x for x in range(10000)])

130 μs ± 718 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [ ]:
#매직명령어 
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql mysql+pymysql://play:123@localhost:3306/sk17

In [18]:
import pandas as pd

In [20]:
df = pd.read_csv("./data/hflight.csv")

In [22]:
# 출발 공항에 대해서 도착 공항별로 평균 출발 지연시간 평균 도착지연시간을 출력

In [31]:
df.Dest.value_counts(normalize=True)

Dest
DAL    0.043166
ATL    0.034664
MSY    0.029992
DFW    0.029244
LAX    0.026655
         ...
PSP    0.000466
GUC    0.000378
GRK    0.000185
BPT    0.000013
AGS    0.000004
Name: proportion, Length: 116, dtype: float64

In [35]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'ArrTime',
       'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'AirTime',
       'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn',
       'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted'],
      dtype='object')

In [41]:
# 출발 공항에 대해서 도착 공항별로 평균 출발 지연시간 평균 도착지연시간을 출력
#df.groupby(['Origin', "Dest"])[['DepDelay', 'ArrDelay']].mean().reset_index()
df.groupby(['Origin', "Dest"])[['DepDelay', 'ArrDelay']].mean()

              DepDelay   ArrDelay
Origin Dest
HOU    ABQ   11.581854   6.000987
       ATL    9.129112   6.810014
       AUS   12.188736   9.274145
       BHM   15.014599   6.672540
       BKG   -3.201835 -16.233645
...                ...        ...
IAH    TUL    5.738174   5.482379
       TUS    7.783871   7.801680
       TYS   10.170549  11.365915
       VPS   12.338691  12.457176
       XNA    6.690685   6.896277

[149 rows x 2 columns]

- 문제 2 
- 목적지 공항에 대해 연착 건수를 구하고, 연착 건수가 2000회 이상인 공항에 대한 데이터만 추출 후 view 생성 
- col -> Dest :목적지 공항 ArrDelay (연착은 5분이상)

In [44]:
masked = df.ArrDelay >= 5

In [48]:
df2 = df[masked].groupby(['Dest'])[['Year']].count()

In [57]:
문제2 = df[df.Dest.isin(df2[df2.Year >= 2000].index.to_list())]

# 문제 3
-  위의 결과를 바탕으로 목적지 공항 별 결항 횟수, 회항 횟수
- 운항 횟수를 구하시오 (Cancelled, Diverted, Air)
- 운항 횟수는 결항과 회항을 제외한 것

In [74]:
pd.concat([
pd.DataFrame(문제2.groupby(['Dest'])[['Year']].count().Year - 문제2.groupby(['Dest'])[['Cancelled']].sum().Cancelled - 문제2.groupby(['Dest'])[['Diverted']].sum().Diverted, columns=['운항횟수']) , 
문제2.groupby(['Dest'])[['Cancelled']].sum(),
문제2.groupby(['Dest'])[['Diverted']].sum()
], axis=1 )

      운항횟수  Cancelled  Diverted
Dest
ATL   7717        141        28
DAL   9351        442        27
DEN   5868         28        24
LAX   6017         33        14
MSY   6780         40         3
ORD   5634         99        15

In [62]:
문제2.Cancelled.value_counts()

Cancelled
0    41478
1      783
Name: count, dtype: int64

In [65]:
문제2.groupby(['Dest'])[['Cancelled']].sum()

      Cancelled
Dest
ATL         141
DAL         442
DEN          28
LAX          33
MSY          40
ORD          99

In [66]:
문제2.groupby(['Dest'])[['Diverted']].sum()

      Diverted
Dest
ATL         28
DAL         27
DEN         24
LAX         14
MSY          3
ORD         15