In [3]:
a=1

In [4]:
a

1

In [5]:
True

True

In [8]:
False

False

In [10]:
text='동해물과 백두산이'
print(text)

동해물과 백두산이

In [12]:
text[0]

'동'

In [15]:
text[:-3]

'동해물과 백'

In [23]:
input_a = int(input("값을 입력하세요"))
if input_a==100:
    print("입력값이 100이네요")
else:
    print("입력값이 100이 아니네요")

값을 입력하세요 200

입력값이 100이 아니네요

In [25]:
input_a = int(input("값을 입력하세요"))
if input_a<=100:
    print("입력값이 100보다 작다")
elif input_a<=200:
    print("입력값이 100보다 크고 200보다 작거나 같다")
else:
    print("200보다 큰 값 입력했네")

값을 입력하세요 201

200보다 큰 값 입력했네

- 사용자에게 값을 입력 받고,
- 입력값이 5보다 작으면 출력을 "걸어가세요"
- 입력값이 6~10까지 범위면 "버스"
- 입력값이 10을 초과하면 "택시"

In [30]:
abc= int(input("값 입력:"))
if abc<5:
    print("걸어가세요")
elif abc<=10:
    print("버스")
else:
    print("택시")

값 입력: 8

버스

In [37]:
text3 = "김미영팀장입니다. {}님께서는 최저이율로 최고{}만원까지 {}분이내 통장입금가능합니다."

In [38]:
print(text3)

김미영팀장입니다. {}님께서는 최저이율로 최고{}만원까지 {}분이내 통장입금가능합니다.

In [39]:
print(text3.format("아무개",500,10))

김미영팀장입니다. 아무개님께서는 최저이율로 최고500만원까지 10분이내 통장입금가능합니다.

In [40]:
kbo = [	'권광민',	'권민규',	'김기중',	'김도빈',	'김민우',	'김범수',	'김범준',	'김서현',	'김승일',	'김예준',	'김인환',	'김종수',	'김태연',	'노시환',	'류현진',	'문동주',	'문승진',	'문현빈']

In [42]:
kbo[:-4]

['권광민',
 '권민규',
 '김기중',
 '김도빈',
 '김민우',
 '김범수',
 '김범준',
 '김서현',
 '김승일',
 '김예준',
 '김인환',
 '김종수',
 '김태연',
 '노시환']

In [45]:
for name in kbo:
    if name == '류현진' or name=='김인환':
        print(text3.format(name,10000,1))
    else:
        print(text3.format(name,5000,30))

김미영팀장입니다. 권광민님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 권민규님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김기중님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김도빈님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김민우님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김범수님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김범준님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김서현님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김승일님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김예준님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김인환님께서는 최저이율로 최고10000만원까지 1분이내 통장입금가능합니다.
김미영팀장입니다. 김종수님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김태연님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 노시환님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 류현진님께서는 최저이율로 최고10000만원까지 1분이내 통장입금가능합니다.
김미영팀장입니다. 문동주님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 문승진님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 문현빈님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.

In [48]:
for name in kbo:
    if name in ['류현진','김인환','김기중']:
        print(text3.format(name,10000,1))
    else:
        print(text3.format(name,5000,30))

김미영팀장입니다. 권광민님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 권민규님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김기중님께서는 최저이율로 최고10000만원까지 1분이내 통장입금가능합니다.
김미영팀장입니다. 김도빈님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김민우님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김범수님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김범준님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김서현님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김승일님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김예준님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김인환님께서는 최저이율로 최고10000만원까지 1분이내 통장입금가능합니다.
김미영팀장입니다. 김종수님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 김태연님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 노시환님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 류현진님께서는 최저이율로 최고10000만원까지 1분이내 통장입금가능합니다.
김미영팀장입니다. 문동주님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 문승진님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.
김미영팀장입니다. 문현빈님께서는 최저이율로 최고5000만원까지 30분이내 통장입금가능합니다.

In [49]:
name

'문현빈'

In [51]:
for x in range(2,20):
    print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [53]:
for x in range(2,20):
    if x % 2 ==0 or x %3==0:
        print(x)

2
3
4
6
8
9
10
12
14
15
16
18

In [57]:
for x in range(2,10):
    if x %2==0:
        for y in range(1,10):
            #print(f{} x {} = {}".format(x,y,x*y))
            print(f"{x} x {y} = {x*y}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [58]:
tmp=[]
for x in range(10):
    tmp.append(x)
print(tmp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
tmp2=[x for x in range(10)]
print (tmp2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
tmp2=[x for x in range(10) if x %2 ==0]
print(tmp2)

[0, 2, 4, 6, 8]

In [67]:
[f"{x}x {y}={x*y}" for x in range(2,10) for y in range(1,10)]

['2x 1=2',
 '2x 2=4',
 '2x 3=6',
 '2x 4=8',
 '2x 5=10',
 '2x 6=12',
 '2x 7=14',
 '2x 8=16',
 '2x 9=18',
 '3x 1=3',
 '3x 2=6',
 '3x 3=9',
 '3x 4=12',
 '3x 5=15',
 '3x 6=18',
 '3x 7=21',
 '3x 8=24',
 '3x 9=27',
 '4x 1=4',
 '4x 2=8',
 '4x 3=12',
 '4x 4=16',
 '4x 5=20',
 '4x 6=24',
 '4x 7=28',
 '4x 8=32',
 '4x 9=36',
 '5x 1=5',
 '5x 2=10',
 '5x 3=15',
 '5x 4=20',
 '5x 5=25',
 '5x 6=30',
 '5x 7=35',
 '5x 8=40',
 '5x 9=45',
 '6x 1=6',
 '6x 2=12',
 '6x 3=18',
 '6x 4=24',
 '6x 5=30',
 '6x 6=36',
 '6x 7=42',
 '6x 8=48',
 '6x 9=54',
 '7x 1=7',
 '7x 2=14',
 '7x 3=21',
 '7x 4=28',
 '7x 5=35',
 '7x 6=42',
 '7x 7=49',
 '7x 8=56',
 '7x 9=63',
 '8x 1=8',
 '8x 2=16',
 '8x 3=24',
 '8x 4=32',
 '8x 5=40',
 '8x 6=48',
 '8x 7=56',
 '8x 8=64',
 '8x 9=72',
 '9x 1=9',
 '9x 2=18',
 '9x 3=27',
 '9x 4=36',
 '9x 5=45',
 '9x 6=54',
 '9x 7=63',
 '9x 8=72',
 '9x 9=81']

In [72]:
#1900~2100 6사이의 윤년 출력

for x in range(1900,2101):
    if x % 4==0:
        #if x % 100!=0 or x %400==0:
        if (x%100!=0) or (x%400==0):
            print(x)

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [73]:
{'a':10}

{'a': 10}

In [5]:
import requests 
url = "https://www.starbucks.co.kr/store/getStore.do?r=86N465IIB2"
payload = {"in_biz_cds": "0",
"in_scodes": "0",
"ins_lat": "37.4745",
"ins_lng": "126.8918",
"search_text": "",
"p_sido_cd": "01",
"p_gugun_cd": "",
"in_distance": "0",
"in_biz_cd": "",
"isError": "true",
"searchType": "C",
"set_date": "",
"all_store": "0",
"T03": "0",
"T01": "0",
"T27": "0",
"T12": "0",
"T09": "0",
"T30": "0",
"T05": "0",
"T22": "0",
"T21": "0",
"T36": "0",
"T43": "0",
"Z9999": "0",
"T64": "0",
"T66": "0",
"P02": "0",
"P10": "0",
"P50": "0",
"P20": "0",
"P60": "0",
"P30": "0",
"P70": "0",
"P40": "0",
"P80": "0",
"whcroad_yn": "0",
"P90": "0",
"P01": "0",
"new_bool": "0",
"iend": "1000",
"rndCod": "XW4W0LA4X8",}
r = requests.post(url, data=payload)
star = r.json()

In [6]:
star_list=star['list']

In [7]:
len(star_list)

641

In [14]:
for store in star_list:
    if store["s_name"][-1]=='R':
        print(store["s_name"])

삼성역섬유센터R
압구정R
수서역R
양재강남빌딩R
선릉동신빌딩R
스타필드코엑스몰R
강남R
청담스타R
센터필드R
마곡사이언스타워R
관악서울대입구R
보라매공원R
홍대입구역사거리R
합정폴리스R
강남교보타워R
파미에파크R
문정법원로R
잠실대교남단R
타임스퀘어R
여의도IFC몰(L1)R
여의도KBS R
여의도공원R
여의도역R
더현대서울(B2)R
종로R
정부서울청사R
대한상공회의소R
장충라운지R
한강진역R
용산역써밋R
한남동R