In [2]:
import pandas as pd 
import requests

In [6]:
하반기  = pd.read_csv("./data/하반기 주유소 판매가격.csv", encoding='euc-kr')
상반기  = pd.read_csv("./data/상반기 주유소 판매가격.csv", encoding='euc-kr')

In [8]:
주유소 = pd.concat([상반기, 하반기], ignore_index=True)

각 지역(25개지역구)별 상표 순위

In [13]:
주유소.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181714 entries, 0 to 181713
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   번호      181714 non-null  object
 1   지역      181714 non-null  object
 2   상호      181714 non-null  object
 3   주소      181714 non-null  object
 4   기간      181714 non-null  int64
 5   상표      181714 non-null  object
 6   셀프여부    181714 non-null  object
 7   고급휘발유   181714 non-null  int64
 8   휘발유     181714 non-null  int64
 9   경유      181714 non-null  int64
 10  실내등유    181714 non-null  int64
dtypes: int64(5), object(6)
memory usage: 15.3+ MB

In [17]:
주유소.기간 = pd.to_datetime(주유소.기간.astype(str))

In [30]:
주유소_12 = 주유소[주유소.기간 == '2019-12-31'].copy()

In [24]:
a = pd.DataFrame({'a' : [1,2,3]})

In [26]:
b = a

In [28]:
b.iloc[0] = 100

In [29]:
a

     a
0  100
1    2
2    3

In [ ]:
주유소_12.isnull().sum()

In [37]:
집계 = 주유소_12.groupby(['지역', '상표'], as_index=False)[['번호']].count().sort_values(by=['지역', '번호'], ascending=[True, False])

In [42]:
집계.sort_values(by=['번호'], ascending=False).groupby("지역").first()

             상표  번호
지역
서울 강남구    SK에너지  16
서울 강동구    SK에너지   7
서울 강북구    SK에너지   5
서울 강서구    SK에너지  13
서울 관악구    SK에너지   5
서울 광진구    SK에너지   5
서울 구로구    S-OIL   6
서울 금천구    SK에너지   4
서울 노원구    GS칼텍스   6
서울 도봉구    S-OIL   6
서울 동대문구   SK에너지   8
서울 동작구   현대오일뱅크   3
서울 마포구    SK에너지   6
서울 서대문구   SK에너지   7
서울 서초구    GS칼텍스  14
서울 성동구    SK에너지   7
서울 성북구    GS칼텍스   7
서울 송파구    SK에너지  13
서울 양천구    SK에너지  13
서울 영등포구   SK에너지  14
서울 용산구    SK에너지   9
서울 은평구    GS칼텍스   6
서울 종로구    SK에너지   4
서울 중구     SK에너지   4
서울 중랑구    SK에너지   5

In [51]:
url = "https://finance.naver.com/marketindex/worldDailyQuote.naver?marketindexCd=OIL_DU&fdtc=2&page={}"

In [ ]:
total = []
for   idx   in range(197, 235):
    total.append(pd.read_html(requests.get(url.format(idx)).text)[0])
두바이유 = pd.concat(total)

In [ ]:
두바이유 = pd.concat([  pd.read_html(requests.get(url.format(idx)).text)[0]  for   idx   in range(197, 235)])

In [65]:
두바이유.날짜 = pd.to_datetime(두바이유.날짜)

In [71]:
금천구 = 주유소.loc[주유소.지역 == '서울 금천구', ['상호', '기간', '휘발유']]

In [73]:
금천구_피봇  = 금천구.pivot(index='기간', columns=['상호'], values='휘발유')

In [76]:
두바이유.set_index("날짜", inplace=True)

In [80]:
pd.merge(금천구_피봇, 두바이유['파실 때'], left_index=True, right_index=True, how='left').corr()['파실 때']

(주)진우에너지 백운주유소      -0.059629
(주)태영유업 독산고개        -0.068938
KH에너지(주)직영시흥대로주유소   -0.064850
SK에너지(주) 박미주유소      -0.323332
SK에너지(주) 이가주유소      -0.306869
경복에너지주유소            -0.055869
구광주유소               -0.072092
남서울경복에너지            -0.058301
대득에너지(금천셀프주유소)      -0.065367
명보주유소               -0.072616
백산주유소               -0.041918
순환도로                -0.127021
지에스칼텍스(주)일신주유소      -0.094224
파실 때                 1.000000
Name: 파실 때, dtype: float64